input[type=text] {
    width: 99%;
}

input.datetimepick {
    width: 150px;
}

textarea.ckeditor {
    width: 100%;
    height: 500px;
}

textarea.short {
    width: 300px;
    height: 100px;
}

a {
    color: #00a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-weight: bold;
}

div.photo
{
    float: left;
    margin: 5px;
    border:  1px solid #ddd;
    padding:  5px;
    background-color: #fff;
}

.tree_node_list td {
    background-color: #efe;
    padding: 5px;
}

.main_table {
    border-collapse: collapse;
}

.main_menu {
    list-style: none;
    outline: 0;
    padding-left: 0px;
}

.main_menu li {
    margin: 2px;
    background-color: #eee;
}

.main_menu li a {
    display: block;
    height: 100%;
    color: black;
    padding: 3px;
}

.main_menu li a:hover, .main_menu li a.active
{
    background-color: #ddd;
    text-decoration: none;
}

.drag, .block-drag {
    width: 16px;
    height: 16px;
    background: url(/admin/static/img/icons.png) no-repeat;
    cursor: move;
}

.block-del {
    width: 16px;
    height: 16px;
    background: url(/admin/static/img/del.png) no-repeat;
    cursor: pointer;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

tr.table_header {

}

tr.unactive {
    background-color: #ddd;
}

.edit_item_form td.error input {
    background-color: #f00;
}

span.error {
    color: red;
}

ul.path {
    list-style: none;
    outline: 0;
}

ul.path li {
    display: inline;
}

.content_main {
    float: left;
    border: 1px solid #aaa;
    padding: 5px 5px 5px 5px;
    min-width: 600px;
    min-height: 300px;
}

.content_toolbar {
    margin-bottom: 15px;
}

.column-cell {
    padding: 5px;
    border: 2px outset #ccc;
    min-width: 125px;
    min-height: 20px;
    margin: 5px;
}

.column-content {
    overflow: hidden;
}

.clr {
    clear: both;
}

.open_ckeditor img {
    width: 40px;
    height: 40px;
}

.empty {
    color: #aaa;
}

.content-block {
    background-color: #fff;
}

.content-block table {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.content-block table td {
    margin: 0;
}

.block-column1 {
    width: 100%;
}

.block-column2 {
    width: 50%;
}

.block-column3 {
    width: 33%;
}

.block-column4 {
    width: 25%;
}

.block-column1_2.first {
    width: 50%;
}

.block-column1_2.second {
    width: 25%;
}

.block-column2_1.first {
    width: 25%;
}

.block-column2_1.second {
    width: 50%;
}

.block-tools {
    background-color: #eee;
    padding: 8px 5px 5px 5px;
    margin: 0 5px 0 5px;
    margin-top: -2px;
    z-index: -10;
    min-height: 18px;
}

.block-tools .block-drag img {
    width: 32px;
    height: 32px;
    cursor: move;
}

#toolbar_block { margin-left: 15px;}

#blocks_input {display:none;}

.block-value {
}

.hidden {
    display: none;
}

textarea.quote {
    width: 95%;
}

.table2items_list {
    position: absolute;
    background-color: #bdbdbd;
    padding: 5px;
    width: 300px;
    display: none;
}

.table2items_item {
    float: left;
    margin-right: 5px;
}

.table2items_list .item {
    width: 100%;
    margin-bottom: 3px;
    color: black;
    cursor: pointer;
}

.login fieldset {
    border: none;
}

.login input[type="text"], .login input[type="password"] {
    width: 200px;
}

.control-group {
    margin-bottom: 10px;
}

button {
    padding: 5px;
    width: 100px;
}
