div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top;
    background: transparent;
    background-repeat: no-repeat;

}
ol, ul {
    list-style: none;
}
blockquote, q {

}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
tr.act {
    background: none repeat scroll 0 0 #ff0000!important;
    border: 2px solid #671313;}
tr.act td{text-shadow: 1px 1px 0 #000000;}
tr.act a{color: #ffffff;}
.clr { clear: both; }

.docs td {
    padding: 5px;
    border: 1px solid #bdbdbd;
}

.personal {
    margin: 10px;
}