div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
    background-repeat: no-repeat;

}
ol, ul {
	list-style: none;
}
blockquote, q {

}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
tr.act {
    background: none repeat scroll 0 0 #ff0000!important;
	border: 2px solid #671313;}
tr.act td{text-shadow: 1px 1px 0 #000000;}
tr.act a{color: #ffffff;}
.clr { clear: both; }



@font-face {font-family: 'PT Sans';
	src: url('../fonts/pts55f_w.eot');
	src: local('PT Sans'), url('../fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F_W.woff') format('woff'),url('../fonts/PTS55F_W.ttf') format('truetype'), url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');}

@font-face {font-family: 'PT Sans';
	font-style: italic;
	src: url('../fonts/pts56f_w.eot');
	src: local('PT Sans Italic'), url('../fonts/PTS56F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F_W.woff') format('woff'),url('../fonts/PTS56F_W.ttf') format('truetype'), url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');}

@font-face {font-family: 'PT Sans';
	src: url('../fonts/pts75f_w.eot');
	font-style: normal;
	font-weight: bold;
	src: local('PT Sans Bold'), url('../fonts/PTS75F_W.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F_W.woff') format('woff'),url('../fonts/PTS75F_W.ttf') format('truetype'), url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');}

@font-face {
    font-family: FuturaDemiC;
    src: url(../fonts/futurademic.otf);
}

@font-face {
    font-family: FuturaBookC;
    src: url(../fonts/futurabookc.otf);
}

@font-face {
    font-family: FuturaLightC;
    src: url(../fonts/futuralightc.otf);
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   /*text-align: center;*/
   /*background-color: #000000;*/
   font-family: 'PT Sans';
   font-size: 12px;
}

body.light {
    background-color: #ffffff;
    color: #000;
}

body.dark {
    background-color: #2c65a9;
    color: #fff;
}

body {
    overflow: hidden;
}

a {
    color: #ff9c41;
    text-decoration: underline;
}

a:hover {

}

#wrapper {
    width: 1200px;
    min-height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    margin: 0px auto 0px auto;
    position: relative;
}

.back {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    left: 0px;
    top: 0px;
    z-index: -100;
}

.back.map {
    padding-top: 66px;
    /*z-index: 1;*/
}

.map-over-top {
    position: absolute;
    width: 100%;
    background-color: #fff;
    opacity: 0.7;
    left: 0px;
    top: 66px;
    z-index: 2;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.map-over-bottom {
    position: absolute;
    width: 100%;
    background-color: #fff;
    opacity: 0.7;
    left: 0px;
    top: 666px;
    z-index: 2;
}

.fadeOut {opacity:0;}
.fadeIn {opacity:1;}

.main {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content {
    position: absolute;
    left: 121px;
    top: 116px;
    width: 960px;
    height: 579px;
    font-size: 15px;
    line-height: 22px;
    font-family: 'PT Sans';
}

.left_bar {
    position: absolute;
    left: auto;
    top: 100px;
    width: 300px;
    padding: 0px 20px 0px 33px;
    font-family: 'FuturaBookC';
    z-index: 6;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    /*background-color: #000;*/
    text-align: center;
}

.v-page {
    position: absolute;
    width: 960px;
    /*height: 500px;*/
    display: none;
    text-align: center;
    z-index: 5;
}

.h-page {
    position: absolute;
    width: 960px;
    display: none;
    z-index: 5;
    text-align: center;
}

.h-page[data-id="0"] {
    display: block;
}

.h-page h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'FuturaBookC';
    margin-top: 29px;
    letter-spacing: 1px;
}

.dots {
    position: absolute;
    width: 100%;
    top: 550px;
    text-align: center;
}

.dots ul {
    list-style: none;
}

.dots ul li {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-image: url(../i/dots.png);
    background-repeat: no-repeat;
    background-position-x: -7px;
    background-position-y: top;
    margin-right: 15px;
}

.dots ul li.last {
    margin-right: 0px;
}

.dots ul li.active {
    background-position-x: left;
}

.button_down {
    background: url(../i/arrow_down.png) left top no-repeat;
    width: 76px;
    height: 32px;
    font-size: 20px;
    margin: auto;
}

.page_button {
    font-size: 18px;
}

.page_button a {
    color: white;
    display: block;
    height: 100%;
}

.button_left {
    background: url(../i/arrow_left.png);
    width: 32px;
    height: 76px;
    position: absolute;
    top: 260px;
    left: -79px;
}

.button_right {
    background: url(../i/arrow_right.png);
    width: 32px;
    height: 76px;
    position: absolute;
    top: 260px;
    right: -82px;
}


.header_strip {
    /*visibility: hidden;*/
    position: absolute;
    top: 0px;
    width: 100%;
    height: 66px;
    display: block;
    background-color: #ffffff;
    z-index: 500;
    font-family: 'FuturaBookC';
}

.header {
    width: 1200px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    color: #43AEDA;
    vertical-align: middle;
}

.logo {
    display: block;
    height: 42px;
    float: left;
    margin-top: 12px;
}

.logo-title {
    width: 86px;
    height: 100%;
    background-image: url(../i/logo.png);
    background-repeat: no-repeat;
    display: block;
    margin-left: 28px;
    padding-left: 43px;
    float: left;
    color: black;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.header .right_block
{
    float: right;
    height: 100%;
    padding-right: 20px;
}

ul.main_menu {
    float: left;
    list-style: none;
    margin: 0;
    height: 100%;
}

ul.main_menu li {
    text-transform: uppercase;
    display: inline-block;
    line-height: 66px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 22px;
}

ul.main_menu li a {
    display: block;
    text-decoration: none;
    color: #a2a2a2;
}

ul.main_menu li.active {
    background-image: url(../i/menu_arrow.png);
    background-repeat: no-repeat;
    background-position: center 46px;
    color: #f28e00;
}

ul.main_menu li a:hover, ul.main_menu li.active a {
    color: #f28e00;
}

ul.main_menu li.calc.active {
    cursor: pointer;
}

.phone_number {
    padding-left: 23px;
    margin-left: 14px;
    margin-right: 20px;
    float: left;
    height: 100%;
    line-height: 66px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    background-image: url(../i/phone.png);
    background-repeat: no-repeat;
    background-position: left center;
}

ul.social_menu {
    float: left;
    list-style: none;
    margin-top: 22px;
    height: 21px;
}

ul.social_menu li {
    text-align: center;
    display: inline-block;
    line-height: 66px;
    margin-left: 10px;
}

ul.social_menu li a {
    width: 23px;
    height: 21px;
    display: block;
    text-decoration: none;
    color: #43AEDA;
}

.left_bar_page {
    display: none;
}

.left_menu {
}

.left_menu li {
    line-height: 25px;
    font-size: 15px;
}

.btn-vk {
    background-image: url(../i/social_icons.png);
    background-repeat: no-repeat;
    background-position: left -21px;
}

.btn-vk:hover {
    background-position: left top;
}

.btn-fb {
    background-image: url(../i/social_icons.png);
    background-repeat: no-repeat;
    background-position: -23px -21px;
}
.btn-fb:hover {
    background-position: -23px top;
}

.btn-in {
    background-image: url(../i/social_icons.png);
    background-repeat: no-repeat;
    background-position: -46px -21px;
}
.btn-in:hover {
    background-position: -46px top;
}

.toptitle {
    width: 89px;
    height: 103px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: normal;
    /*opacity: 0;*/
}

.toptitle h1 {
    line-height: 103px;
    font-size: 17px;
    font-family: 'FuturaBookC';
}

.toptitle.light {
    background: url(/static/i/polygon_light.png) left top no-repeat;
}

.toptitle.dark {
    background: url(/static/i/polygon.png) left top no-repeat;
}

.quote {
    font-family: 'FuturaLightC';
    font-size: 27px;
    /*padding-left: 65px;*/
    /*padding-right: 60px;*/
    text-align: left;
    font-style: italic;
    font-weight: bold;
    line-height: 37px;
    position: relative;
    letter-spacing: 1px;
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    margin-bottom: 66px;
}

.quote .left {
    width: 63px;
    height: 76px;
    position: absolute;
    margin-top: -19px;
    margin-left: -80px;
}

.quote .left.light {
    background: url(../i/quote_left_light.png) left top no-repeat;
}

.quote .left.dark {
    background: url(../i/quote_left.png) left top no-repeat;
}

.quote .right {
    width: 63px;
    height: 76px;
    position: absolute;
    bottom: -21px;
    right: -80px;
}

.quote .right.light {
    background: url(../i/quote_right_light.png) left top no-repeat;
}

.quote .right.dark {
    background: url(../i/quote_right.png) left top no-repeat;
}

.block p {
    margin-bottom: 30px;
}

.block {
    text-align: left;
    margin-top: 26px;
}

.block.columns2 .column {
    width: 465px;
    float: left;
}
.block.columns2 .column2 {margin-left:30px;}
.block.columns2 .column1 p {
    width: 465px;
}
.block.columns2 .column2 p {
    width: 465px;
}

.block.columns2 table  {
    width: 465px;
}

.block table td {
    width: 215px;
}

.block.columns2 table td:nth-child(2) {
    padding-left: 30px;
}

.block.columns1 table td:nth-child(1n+2) {
    padding-left: 30px;
}

.block table, .block em {
    font-size:13px;
    line-height: 16px;
}
.block table p {
    width: 100% !important;
    margin-bottom: 18px;
}

.block table ul {
    list-style-type: none;
    margin-left: -6px;
}

.block table ul li {
    background-image: url(../i/bullet.png);
    background-position: left 6px;
    padding-left: 6px;
}

.contacts-icons {
    height: 22px;
    margin-top: 29px;
}

.contacts {
    margin-top: 17px;
}

.contacts, .contacts-icons {
    text-align: center;
    width: 100%;
}

.contacts div, .contacts-icons div {
    width: 320px;
    float: left;
}

.contacts-icons div {display: block; text-align: center;}

.contacts .address span {
    display: inline-block;
    text-align: left;
    width: 245px;
}

.contacts-icons .address{
    background-position-x: 0px;
}

.contacts-icons .phone{
    background-position-x: -23px;
}

.contacts-icons .email {
    background-position-x: -45px;
}

body.light .contacts .email a {
    color: black;
}
body.dark .contacts .email a {
    color: white;
}

.contacts-icons span {
    margin: auto;
    display: block;
    width: 22px;
    height: 22px;
    background-image: url(../i/icons.png);
    background-repeat: no-repeat;
    background-position-y: top;
}

.teammate {
    width: 217px;
    margin-right: 30px;
    float: left;
    font-size:14px;
    line-height: 16px;
    margin-bottom: 50px;
}

.teammate:nth-child(4n+4)
{
    margin-right: 0px;
}

.teammate .title, .teammate .description {
    display: block;
}

.teammate .title {
    font-weight: bold;
}

.teammate .pic {
    width: 142px;
    height: 142px;
    border-radius: 72px;
    overflow: hidden;
    margin: 0 auto 24px auto;
}

.clientblock {
    width: 100%;
    text-align: center;
}

.clientlist {
    margin-top: 55px;
    margin-left: 62px;
}

.client {
    width: 166px;
    float: left;
    margin-left: 0px;
    margin-bottom: 45px;
}

.client.marginleft {
    margin-left: 80px;
}

.client.marginright {
    margin-right: 80px;
}

.client .pic {
    width: 96px;
    height: 96px;
    border-radius: 48px;
    overflow: hidden;
    margin: 0 auto;
}

.align-center {
    text-align: center;
}

.input-line {
    width: 100%;
}
.input-line td {
    vertical-align: middle;
    padding-bottom: 13px;
}

.input-line tr:last-child td {
    padding-bottom: 0px;
}

.input-line-left {
    text-align: right;
    width:50%
}
.input-line-center {
    padding: 0 8px;
}
.input-line-right {
    text-align: left;
    width:50%
}

.inputs {
    margin: 20px 0 0 0;
}

.row {margin-top: 20px;}

.button1 {
    color: black;
    text-decoration: none;
    padding: 0 7px;
    border-color: #FF8644;
    border-radius: 3px;
    background-color: #FF8644;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'FuturaBookC';
    cursor: pointer;
    min-width: 45px;
    height: 27px;
    line-height: 30px;
    font-size: 13px;
    margin-right: 19px;
}

.button1:last-child {
    margin-right: 0px;
}

input[type='text'] {
    width: 127px;
    min-width: 127px;
    height: 25px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    color: #000;
    text-align: center;
    font-size: 14px;
}

input[type="text"].num {
    width: 42px;
    min-width: 42px;
}

.input-checkbox {
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 2px;
    color: #000;
    text-align: center;
    font-size: 14px;
}

.input-checkbox.checked {
    background: url(../i/check.png) center center no-repeat;
    background-color: #fff;
}

.calc-page {
    width: 960px;
    display: none;
    opacity: 0;
    position: absolute;
}
.calc-page:first-child {
    display: block;
    opacity: 1;
}

span.cost {
    display: block;
    font-size: 44px;
    margin: 30px 0;
}

body.intro {
    background-color: #fff;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layer.p1 {
    margin-left: -61px;
}
.layer.p2 {
    margin-left: -59px;
}
.layer.p3 {
    margin-left: 1px;
}

.patterns1 {
    float: left;
    display: block;
    width: 61px;
    height: 100%;
    background: url(../i/intro_pattern1.png) left top repeat-y;
}
.patterns2 {
    float: left;
    display: block;
    width: 61px;
    height: 100%;
    background: url(../i/intro_pattern2.png) left top repeat-y;
}
.patterns3 {
    float: left;
    display: block;
    width: 120px;
    height: 100%;
    background: url(../i/intro_pattern3.png) left top repeat-y;
    margin-left: -59px;
}